.container {
    position: relative;
    text-align: center;
    color: black;
  }

  .bgimg{
    height: 190px;
    width: 100%;
  }

  /* .error-main.btn-error .fa-solid .button:hover{
    color: black;
  } */
  
  .top-left {
    position: absolute;
    top: 20px;
    left: 16px;
    margin-bottom: 10px;
  }
  
  .cslop{
    background-color: #D51243;
  }

  .error-sq{
    color: gray ;
  }